<div id="site-navbar" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/"><i class="fa fa-home"></i></a></li>
                <li><a href="/teams"><i class="fa fa-users"></i>Teams</a></li>
                <li><a href="/member"><i class="fa fa-user"></i>Member</a></li>
                <li><a href="/rolecall"><i class="fa fa-list-alt"></i>RoleCall</a></li>
                <li><a href="/settings"><i class="fa fa-cog"></i>Settings</a></li>
            </ul>
        </div>
    </div>
</div>