<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>Hello Handlebars</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/dist/css/app.css">
    <!-- endinject -->
</head>

<body>
    <header>
        {{> navbar}}
    </header>
    <div class="body-content">
        {{{body}}}
    </div>
    <!-- bower:js -->
    <script src="/bower/jquery/dist/jquery.js"></script>
    <script src="/bower/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <!-- inject:js -->
    <script src="/dist/js/app.js"></script>
    <script src="/dist/js/gui.js"></script>
    <!-- endinject -->
</body>

</html>