<div class="container">
    <h1>Password Reset</h1> {{#if error.isPasswordMismatchError }}
    <div class="alert alert-danger" role="alert">
        Passwords don't match
    </div>
    {{/if}} {{#if error.isResetError }}
    <div class="alert alert-danger" role="alert">
        <span>Unable to reset the password. The reset code may be wrong or may have expired. You may request a new one <a href="/reset?username={{username}}">here</a></span>
    </div>
    {{/if}}
    <form method="POST" data-toggle="validator" action="reinitialize" role="form" id="resetForm" class="vertical-form">
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        <input type="hidden" name="username" value="{{username}}" />
        <div class="col-sm-5">
            <div class="form-group has-feedback">
                <label for="code" class="col-sm-5 control-label">Reset Code</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" required name="code" id="code" placeholder="Enter code" value="{{code}}" />
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label for="password" class="col-sm-5 control-label">New Password</label>
                <div class="col-sm-7">
                    <input type="password" class="form-control" data-minlength="7" data-minlength-error="Minimum is 7 characters" pattern="^(?=.*[0-9])(?=.*[a-zA-Z]).{8,10}$"
                    required name="password" id="password" placeholder="Enter password" />
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label for="confirmpassword" class="col-sm-5 control-label">Confirm New Password</label>
                <div class="col-sm-7">
                    <input type="password" class="form-control" pattern="^(?=.*[0-9])(?=.*[a-zA-Z]).{8,10}$" data-match="#password" data-match-error="Whoops, these don't match"
                    required name="confirmpassword" id="confirmpassword" placeholder="Re-type password" />
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-7">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>